<form method="get" accept-charset="UTF-8" action="/collinsword">
  <label>查询单词:</label><input name="word" type="text"/>
  <input type="submit"/>
  </form>
<hr/>
<div class="word"><%= @word%></div><div class="star"><%= @star if !@star.nil? %></div>
<% @list.each do |one|%>
      <div class="num"><%= one.num%></div>
      <div class="cn"><%= one.cn%></div>
    <div class="grammer"><%= one.grammer%></div>
    <div class="sentence"><%= one.sentence%></div>
    <% @map[one].each do |en, zh| %>
        <div class="en"><%= en %></div>
        <div class="zh"><%= zh %></div>
    <% end %>
<% end%>
